/* css rules
selectors ==== for example H1{}
decleration block ==== {} 
declaration
property: value;

GENRAL RULES
ID === #id_name (unique)

Class === .class_name (can be resused)

DIV ==== div, not inline, block level elment (groups elements under the tag)

SPAN ==== span, inline element (groups elements under the tag)

INHERITANCE the parent style will be inherited by the children element, will work until the child element doesn't have a style

LAST RULE AND SPECIFICITY applies the last style and ignores the first one

Universal selector ===== * (least amoint specificity)

Relative percentages depend on the parent element  

em values = relative and depends on the parent 

1em = 16px (default browser styles)

rem = relative depends on root (html{value = root size}
1 rem = 16px

vh = height = percentage of the screen

vw = width = percentage of the screen

typograpgy - line-height, letter-spacing, text-transform, word-spacing, text-decoration

Colours 
#ff0047
#ff4674

h1 1.1em + 1vw
h2 1em + 0.5vw
h3 0.7em + 1vw
*/
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fdfdfe;
}

@font-face {
  font-family: "avenir-roman";
  src: url(/Fonts/Avenir/Avenir-Roman.ttf);
}

@font-face {
  font-family: "avenir-book";
  src: url(/Fonts/Avenir/Avenir-Book.ttf);
}

@font-face {
  font-family: "avenir-medium";
  src: url(/Fonts/Avenir/Avenir-Medium.ttf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(/Fonts/Avenir/Avenir-Heavy.ttf);
}

@font-face {
  font-family: "avenir-black";
  src: url(/Fonts/Avenir/Avenir-Black.ttf);
}

p {
  margin: 0em;
}

.h1 {
  font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(1.1em + 1vw);
  color: #080808f6;
}

.h2 {
  font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(1em + 0.5vw);
  color: #080808f6;
}

.h3 {
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.7em + 1vw);
}

.h4 {
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.7em + 1vw);
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.03rem;
}

.b1 {
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.3em + 1vw);
  line-height: 1.6em;
}

.b2 {
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;

  font-size: calc(0.2em + 1vw);
}

.button1 {
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.03em + 1vw);
}

.header {
  width: 80%;
  height: max-content;
  margin: 7% auto 0 auto;
}

/* navbar style */

.nav_container {
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

.navbar {
  padding: 0;
  width: 100%;
  height: max-content;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  position: relative;
  left: 60%;
  align-self: flex-end;
  color: #0808087c;
  display: flex;
  margin-top: 1%;
  width: 40%;
  justify-content: space-between;
}

.button_right:hover {
  color: #be203d !important;
}

.button_left:hover {
  color: #be203d !important;
}

/* hamburger design */

.icon-bar {
  width: 2rem;
  height: 0.14rem;
  background-color: rgba(0, 0, 0, 0.863);
  display: block;
  transition: all 0.2s;
  margin-top: 0.4rem;
  outline: none;
}

.navbar-toggler {
  outline: none;
  border: none;
  background: transparent !important;
  padding: 0 0 2% 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Hamburger animation */

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.intro_text1 {
  color: #ff2d55;
  clear: both;
  display: block;
}

.intro_text2 {
  padding-right: 71%;
  margin: 10% 0 6%;
  color: rgba(0, 0, 0, 0.863);
  clear: both;
}

.container_right {
  float: right;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_left {
  float: left;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image_left {
  float: left;
  width: 60%;
  height: 100vh;
}

.image_right {
  float: right;
  width: 40%;
  height: 100vh;
}

.first {
  background: url("images/1920/2.png");
  background-size: cover;
  background-position: 51% 0px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.second {
  background: url("images/Iphone Mockup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 51% 0px;
  width: 100%;
  height: 100%;
}

.third {
  background: url("images/1920/chiral2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 51% 0px;
  width: 100%;
  height: 100%;
}

.fourth {
  background: url("images/iPhone\ X_MockUp2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 51%;
  width: 100%;
  height: 100%;
}

.fifth {
  background: url("images/1920/Web4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 51%;
  width: 100%;
  height: 100%;
}

.text_right {
  padding: 0px 25% 0px;
  color: rgba(0, 0, 0, 0.863);
}

.text_left {
  padding: 0px 17% 0px;
  color: rgba(0, 0, 0, 0.863);
}

.desc_right {
  text-align: left;
  color: #727272;
  padding: 10% 25% 0px;
}

.desc_left {
  text-align: left;
  padding: 6% 38% 0px 17%;
  color: #727272;
}

.button_right {
  text-align: center;
  border-style: solid;
  border-width: medium;
  width: 12%;
  margin: 10% 25%;
  color: #ff2d55;
}

.button_left {
  text-align: center;
  border-style: solid;
  border-width: medium;
  width: 8%;
  margin: 6.4% 17.2%;
  color: #ff2d55;
}

.button_text {
  margin: 34% auto;
}

@media only screen and (max-width: 992px) {
  @font-face {
    font-family: "avenir-book";
    src: url(/Fonts/avenir/avenir-book.otf);
  }

  @font-face {
    font-family: "avenir-medium";
    src: url(/Fonts/avenir/avenir-medium.otf);
  }

  @font-face {
    font-family: "avenir-bold";
    src: url(/Fonts/avenir/avenir-bold.otf);
  }

  @font-face {
    font-family: "avenir-black";
    src: url(/Fonts/avenir/avenir-black.otf);
  }

  p {
    margin: 0em;
  }

  .h1 {
    font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(1em + 1vw);
    color: #080808f6;
  }

  .h2 {
    font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.6em + 1vw);
    color: #080808f6;
  }

  .h3 {
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.8em + 1vw);
  }

  .h4 {
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(1em + 1vw);
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0.03rem;
  }

  .b1 {
    font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.4em + 1vw);
    line-height: 1.6em;
  }

  .b2 {
    font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.6em;
    font-size: calc(0.4em + 1vw);
  }

  .button1 {
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.2em + 1vw);
  }

  .navbar-collapse {
    text-align: center;
    background: linear-gradient(#00000000, #0000000c) ;
  }
  .navbar-nav {
    font-size: calc(2.9em + 0.5vw);
    position: relative;
    left: 29%;
    color: #0808087c;
    display: block;
    margin: 4% 0 ;
  }

  .nav-item {
    padding: calc(1.5rem + 1.5vw) 0;
  }

  .intro_text1 {
    margin-top: 10%;
    color: #ff2d55;
    clear: both;
    display: block;
  }

  .intro_text2 {
    padding-right: 45%;
    margin-top: 10%;
    clear: both;
    color: #080808f6;
  }

  /* Image styles */

  .image_left {
    width: 100%;
    height: calc(35em + 1vw);
  }

  .image_right {
    width: 100%;
    height: calc(35em + 3vw);
  }

  .first {
    background: url("images/1920/2.png");
    background-size: cover;
    background-position: 51% 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .second {
    background: url("images/Iphone Mockup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% calc(35% + 2vw);
    width: 100%;
    height: 100%;
  }

  .third {
    background: url("images/1920/chiral2.png");
    /* margin-top: 13%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 53% 0px;
    width: 100%;
    height: 100%;
  }

  .fourth {
    background: url("images/iPhone\ X_MockUp2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 0px;
    width: 100%;
    height: 100%;
  }

  .fifth {
    background: url("images/1920/Web4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0px;
    width: 100%;
    height: 100%;
  }

  /* project details container */

  .container_right {
    width: 100%;
    height: 50%;
    padding-top: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8%;
  }

  .container_left {
    width: 100%;
    height: 50%;
    padding-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8%;
  }

  /* project heading style */

  .text_right {
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  .text_left {
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  /* project description style */

  .desc_right {
    text-align: left;
    padding: 5% 40% 0px 10%;
    color: #727272;
  }

  .desc_left {
    text-align: left;
    padding: 5% 40% 0px 10%;
    color: #727272;
  }

  /* button style */

  .button_right {
    text-align: center;
    border-style: solid;
    border-width: medium;
    width: 7%;
    margin: 5% 10.2% 10% 10.2%;
    color: #ff2d55;
  }

  .button_left {
    text-align: center;
    border-style: solid;
    border-width: medium;
    /* background-color: darkblue; */
    width: 7%;
    margin: 5% 10.2% 10% 10.2%;
    color: #ff2d55;
  }

  .button_text {
    margin: 37% auto;
  }
}

@media only screen and (max-width: 768px) {

  .navbar-nav {
    font-size: calc(2.9em + 0.5vw);
    position: relative;
    left: 29%;
    color: #0808087c;
    display: block;
    margin: 6% 0;
  }

  .nav-item {
    padding: calc(1.5rem + 1.5vw) 0;
  }

  .image_left {
    width: 100%;
    height: calc(34em + 1vw);
  }

  .image_right {
    width: 100%;
    height: calc(34em + 1vw);
  }

  .first {
    background: url("images/1920/2.png");
    background-size: cover;
    background-position: 51% 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .second {
    background: url("images/Iphone Mockup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% calc(35% + 2vw);
    width: 100%;
    height: 100%;
  }

  .third {
    background: url("images/1920/chiral2.png");
    /* margin-top: 13%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 53% 0px;
    width: 100%;
    height: 100%;
  }

  .fourth {
    background: url("images/iPhone\ X_MockUp2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 0px;
    width: 100%;
    height: 100%;
  }

  .fifth {
    background: url("images/1920/Web4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 576px) {

  .navbar-nav {
    font-size: calc(2.9em + 0.5vw);
    position: relative;
    left: 28%;
    color: #0808087c;
    display: block;
    margin: 35% 0;
  }

  .nav-item {
    padding: calc(1.5rem + 1.5vw) 0;
  }

  .intro_text2 {
    padding-right: 45%;
    margin: 10% 0 20% 0;
    clear: both;
    color: #080808f6;
  }

  .container_right {
    width: 100%;
    height: fit-content;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8%;
  }

  .container_left {
    width: 100%;
    height: fit-content;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8%;
  }

  .text_right {
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  .text_left {
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  .desc_right {
    text-align: left;
    padding: 5% 40% 0px 10%;
    color: #727272;
  }

  .desc_left {
    text-align: left;
    padding: 5% 40% 0px 10%;
    color: #727272;
  }

  .button_right {
    text-align: center;
    border-style: solid;
    border-width: medium;
    /* background-color: darkblue; */
    width: 7%;
    margin: 5% 10.2% 10% 10.2%;
    color: #ff2d55;
  }

  .button_left {
    text-align: center;
    border-style: solid;
    border-width: medium;
    /* background-color: darkblue; */
    width: 7%;
    margin: 5% 10.2% 10% 10.2%;
    color: #ff2d55;
  }

  .button_text {
    margin: 37% auto;
  }

  .image_left {
    width: 100%;
    height: calc(20em + 1vw);
    overflow: hidden;
  }

  .image_right {
    width: 100%;
    height: calc(20em + 1vw);
    overflow: hidden;
  }

  .first {
    background: url("images/1920/2.png");
    background-size: cover;
    background-position: 51% 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .second {
    background: url("images/Iphone Mockup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 52% calc(35% + 2vw);
    width: 100%;
    height: 100%;
    transform: scale(1.3);
  }

  .third {
    background: url("images/1920/chiral2.png");
    /* margin-top: 13%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 51% 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
  }

  .fourth {
    background: url("images/iPhone\ X_MockUp2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 0px;
    width: 100%;
    height: 100%;
  }

  .fifth {
    background: url("images/1920/Web4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0px;
    width: 100%;
    height: 100%;
  }
}
