/* @media only screen and (max-width: 965px) { */
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fdfdfe;
}

@font-face {
  font-family: "avenir-book";
  src: url(/Fonts/avenir/avenir-book.otf);
}

@font-face {
  font-family: "avenir-medium";
  src: url(/Fonts/avenir/avenir-medium.otf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(/Fonts/avenir/avenir-bold.otf);
}

@font-face {
  font-family: "avenir-black";
  src: url(/Fonts/avenir/avenir-black.otf);
}

.header {
  font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
  width: 80%;
  margin: 7% auto 0 auto;
  /* position: fixed; */
}

#nav_container {
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: calc(1em + 1vw);
  float: left;
  color: #080808f6;
}

.top {
  text-decoration: none;
  color: #0808087c;
}

.nav {
  font-size: calc(0.9em + 0.5vw);
  display: none;
  float: right;
  margin-top: 1%;
  width: 30%;
  justify-content: space-between;
}

.background {
  display: block;
  clear: both;
  width: 100%;
}

#intro_text1 {
  color: #ff2d55;
  clear: both;
  display: block;
  font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.6em + 1vw);
  /* position: absolute; */
}

#intro_text2 {
  font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
  padding-right: 45%;
  line-height: 1.7em;
  margin-top: 10%;
  font-size: calc(0.46em + 1vw);
  color: #080808f6;
  clear: both;
}
#image1 {
  width: 100%;
  height: 70vh;
  background: url("images/Mobile/Behance.png");
  background-size: cover;
  background-position: 51% 0px;
  background-repeat: no-repeat;
  display: block;
}

#container1 {
  width: 100%;
  height: 50%;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
}

#text1 {
  font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  font-size: calc(1.1em + 1vw);
  padding: 0px 10% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc1 {
  text-align: left;
  font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  padding: 10% 16% 0px 10%;
  font-size: calc(0.46em + 1vw);
  color: #727272;
}

#button1 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 10%;
  margin: 10% 10.2%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.2em + 1vw);
}

#button1_text {
  margin: 37% auto;
}
.project2 {
  display: block;
  width: 100%;
  height: 100vh;
}

#image2 {
  float: right;
  width: 100%;
  height: 100vh;
  background: url("images/Iphone Mockup.jpg");
  /* margin-top: 13%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 0px;
}

#container2 {
  width: 100%;
  height: 50%;
  padding-top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
}

#text2 {
  font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 5vw;
  padding: 0px 10% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc2 {
  text-align: left;
  font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.7em;
  padding: 10% 16% 0px 10%;
  font-size: calc(0.46em + 1vw);
  color: #727272;
}

#button2 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 10%;
  margin: 10% 10.2%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.2em + 1vw);
}

#button2_text {
  margin: 37% auto;
}

.project3 {
  display: block;
  width: 100%;
  height: 100vh;
}

#image3 {
  float: right;
  width: 100%;
  height: 100vh;
  background: url("images/1920/chiral2.png");
  /* margin-top: 13%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 53% 0px;
}

#container3 {
  width: 100%;
  height: 50%;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
}

#text3 {
  font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 5vw;
  padding: 0px 10% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc3 {
  text-align: left;
  font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.7em;
  padding: 10% 16% 0px 10%;
  font-size: calc(0.46em + 1vw);
  color: #727272;
}

#button3 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 10%;
  margin: 10% 10.2%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.2em + 1vw);
}

#button3_text {
  margin: 37% auto;
}

.project4 {
  display: block;
  width: 100%;
  height: 100vh;
}

#image4 {
  float: right;
  width: 100%;
  height: 100vh;
  background: url("images/iPhone\ X_MockUp2.png");
  /* margin-top: 13%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 0px;
}

#container4 {
  width: 100%;
  height: 50%;
  padding-top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
}

#text4 {
  font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 5vw;
  padding: 0px 10% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc4 {
  text-align: left;
  font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.7em;
  padding: 10% 16% 0px 10%;
  font-size: calc(0.46em + 1vw);
  color: #727272;
}

#button4 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 10%;
  margin: 10% 10.2%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.2em + 1vw);
}

#button4_text {
  margin: 37% auto;
}

.project5 {
  display: block;
  width: 100%;
  height: 100vh;
}

#image5 {
  float: right;
  width: 100%;
  height: 100vh;
  background: url("images/1920/Web4.png");
  /* margin-top: 13%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 0px;
}

#container5 {
  width: 100%;
  height: 50%;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12%;
}

#text5 {
  font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 5vw;
  padding: 0px 10% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc5 {
  text-align: left;
  font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.7em;
  padding: 10% 16% 0px 10%;
  font-size: calc(0.46em + 1vw);
  color: #727272;
}

#button5 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 10%;
  margin: 10% 10.2%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.2em + 1vw);
}

#button5_text {
  margin: 37% auto;
}
