body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fdfdfe;
}

@font-face {
  font-family: Aper;
  src: url(../../Fonts/ApercuPro-Regular.ttf);
}

@font-face {
  font-family: AperMed;
  src: url(../../Fonts/ApercuPro-Medium.ttf);
}

@font-face {
  font-family: AperBol;
  src: url(../../Fonts/ApercuPro-Bold.ttf);
}

#container {
  margin: 0 auto;
}

.header {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  background: #080808;
  width: 100%;
  height: 12vh;
  /* position: fixed; */
}

.logo {
  float: left;
  color: #faf9fe;
  margin-left: 50px;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: #faf9fe;
}

.nav {
  float: right;
}

#title_back {
  display: block;
  clear: both;
  background: #080808;
  /* background-color: green; */
  width: 100%;
}

#title {
  padding: 6% 0 2% 10%;
  font-family: Aper;
  font-size: 2.3vw;
  color: #faf9fe;
}

#duration {
  font-family: Aper;
  font-weight: 100;
  color: #535353;
  padding: 0 0 6% 10%;
}

#title_image {
  background: url(../../images/1920/2.png);
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
}

#desc_container {
  width: 100%;
}

#desc_title {
  display: block;
  font-family: AperBol;
  padding: 10% 10% 0 10%;
  font-size: 1.6vw;
}
#desc {
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6;
  padding: 2% 40% 0 10%;
  color: #080808b6;
}

#proc_container {
  float: left;
  display: block;
  margin: 1% 0 0 10%;
  width: 90%;
  height: max-content;
}

#proc_title {
  display: block;
  font-family: AperBol;
  padding: 10% 0 0 0;
  font-size: 1.6vw;
}
#user {
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6;
  padding: 2% 40% 0 0;
  color: #080808b6;
}

#user_pic {
  height: 90%;
  width: 100%;
  background: url(Pictures/User-01.png);
  background-size: contain;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

#probs {
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6;
  padding: 2% 40% 0 0;
  color: #080808b6;
}

#prob_pics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
  width: 90%;
  max-height: 70%;
}

#out_container {
  float: left;
  display: block;
  margin: 1% 0 0 10%;
  width: 90%;
  height: max-content;
}

#out_title {
  display: block;
  font-family: AperBol;
  padding: 10% 0 0 0;
  font-size: 1.6vw;
}

#outcome1 {
  color: #ff4674;
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.6;
  padding: 2% 40% 0 0;
}

#redun_image {
  background: url(Pictures/final/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5% 0;
  height: 70vh;
  width: 90%;
  margin: 5% 0 3% 0;
}

#redun_des {
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6;
  padding: 0% 40% 0 0;
  color: #080808b6;
  margin-bottom: 12%;
}

#outcome2 {
  color: #ff4674;
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.6;
  padding: 2% 40% 0 0;
}

#focus_image {
  background: url(Pictures/final/2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 58vh;
  width: 90%;
  margin: 5% 0 3% 0;
}

#focus_des {
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6;
  padding: 0% 40% 0 0;
  color: #080808b6;
  margin-bottom: 12%;
}

#outcome3 {
  color: #ff4674;
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.6;
  padding: 2% 40% 0 0;
}

#ocum_image {
  background: url(Pictures/final/3.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 58vh;
  width: 90%;
  margin: 5% 0 3% 0;
}

#ocum_des {
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6;
  padding: 0% 40% 0 0;
  color: #080808b6;
  margin-bottom: 12%;
}

#outcome4 {
  color: #ff4674;
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.6;
  padding: 2% 40% 0 0;
}

#sam_image {
  background: url(Pictures/final/4.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 58vh;
  width: 90%;
  margin: 5% 0 3% 0;
}

#sam_des {
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6;
  padding: 0% 40% 0 0;
  color: #080808b6;
  margin-bottom: 12%;
}

#outcome5 {
  color: #ff4674;
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.6;
  padding: 2% 40% 0 0;
}

#new_image {
  background: url(Pictures/final/5.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 58vh;
  width: 90%;
  margin: 5% 0 3% 0;
}

#new_des {
  display: block;
  font-family: Aper;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.6;
  padding: 0% 40% 0 0;
  color: #080808b6;
}
