body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fdfdfe;
}

@font-face {
  font-family: "avenir-roman";
  src: url(/Fonts/Avenir/Avenir-Roman.ttf);
}

@font-face {
  font-family: "avenir-book";
  src: url(/Fonts/Avenir/Avenir-Book.ttf);
}

@font-face {
  font-family: "avenir-medium";
  src: url(/Fonts/Avenir/Avenir-Medium.ttf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(/Fonts/Avenir/Avenir-Heavy.ttf);
}

@font-face {
  font-family: "avenir-black";
  src: url(/Fonts/Avenir/Avenir-Black.ttf);
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  color: #be203d !important;
}

p {
  margin: 0em;
}

.h1 {
  font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(1.1em + 1vw);
  color: #080808b6;
}

.h2 {
  font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(1em + 0.5vw);
  color: #080808b6;
}

.h3 {
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.7em + 1vw);
  color: #080808b6;
}

.h4 {
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.7em + 1vw);
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.03rem;
  color: #080808b6;
}

.sh1 {
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.4em + 1vw);
  line-height: 1.2em;
  letter-spacing: 0.03rem;
  color: #080808b6;
}

.b1 {
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.3em + 1vw);
  line-height: 1.6em;
  color: #080808b6;
}

.b2 {
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  font-size: calc(0.2em + 1vw);
  color: #080808b6;
}

.caption {
  font-family: "avenir-book", "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  font-size: calc(0.05em + 1vw);
  color: #080808b6;
}

.caption2 {
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  font-size: calc(0.05em + 1vw);
}

.header_container {
  background-image: linear-gradient(180deg, #0057ff 0, #1d53be);
}

.header {
  width: 80%;
  padding-top: 7%;
  margin: 0 auto 0 auto;
  height: max-content;
}

.nav_container {
  display: flex;
  justify-content: space-between;
}

.nav_container .h1 {
  color: #b2ebf27e;
  /* text-shadow: 0 0 2px rgba(255, 255, 255, 0.11); */
}

.nav_container .h2 {
  color: #b2ebf27e;
}

/* color: #b2ebf2; */

.nav_items {
  /* text-shadow: 0 0 2px rgba(255, 255, 255, 0.11); */
  margin: 0.6% 0 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.link_items {
  padding-left: 3rem;
}

.mobile_nav {
  display: none;
}

.project_name {
  padding: 7% 0 3% 0;
  color: #ffffff;
}

.project_duration {
  padding-bottom: 3%;
  color: #ffffffbd;
}

.title_image {
  background: url(../../images/1920/2.png);
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
}

/* *******************Description Styles project explainations***************************** */

.desc_container {
  margin: auto;
  width: 80%;
  height: fit-content;
}

.desc_title {
  color: #080808f6;
  padding-top: 10%;
}

.desc {
  display: block;
  padding: 2% 40% 0 0;
  color: #080808b6;
}

/* ***********************INDEX ICONS PROJECT HIGHLIGHTS******************************* */

.index_container {
  width: 100%;
  margin: 5% 40% 0 0;
  padding: 4% 0 3% 0;
  color: #080808b6;
  background-color: #0055ffbe;
}

.index {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

.index_card {
  width: 15%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.index_card_text {
  text-align: center;
  width: fit-content;
  color: #ffffff8c;
}

.index_picture {
  margin-bottom: 10%;
  width: 40%;
}

/* *******************problems card system*************************************** */

.user_pic {
  width: 100%;
  margin: 10% 0;
}

.user_pic_mobile {
  display: none;
}

.cards_container {
  margin: 5% auto 10% auto;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-content: center;
}

.prob_card {
  margin: 2%;
  width: 45%;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.01),
    0 15px 40px rgba(166, 173, 201, 0.15);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.prob_card_text {
  margin: 5% 5% 5% 10%;
}

.prob_card_image {
  width: 20%;
  margin-left: 8%;
}

/* *******************Picture Styles*************************************** */

#prob_pics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4%;
  width: 100%;
  align-items: flex-start;
}

.prob_pics_styles {
  width: 30%;
  margin-top: 3%;
}

.outcome_picture {
  width: 100%;
  margin: 5% 0 10% 0;
}

@media only screen and (max-width: 992px) {
  p {
    margin: 0em;
  }

  .h1 {
    font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(1em + 1vw);
    color: #080808f6;
  }

  .h2 {
    font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.6em + 1vw);
    color: #080808f6;
  }

  .h3 {
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.8em + 1vw);
  }

  .h4 {
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(1em + 1vw);
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0.03rem;
  }

  .b1 {
    font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.4em + 1vw);
    line-height: 1.6em;
  }

  .b2 {
    font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.6em;
    font-size: calc(0.4em + 1vw);
  }

  .caption {
    font-family: "avenir-book", "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    font-size: calc(0.3em + 1vw);
    color: #080808b6;
  }

  .caption2 {
    font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    font-size: calc(0.08em + 1vw);
  }

  .button1 {
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.2em + 1vw);
  }
}
@media only screen and (max-width: 576px) {
  #nav-icon3 {
    margin-top: 1.4%;
    width: 1.6rem;
    height: 1rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #b2ebf27e;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(3) {
    top: 7px;
  }

  #nav-icon3 span:nth-child(2) {
    top: 14px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .navbar-nav {
    font-size: calc(2.9em + 0.5vw);
    position: relative;
    left: 28%;
    color: #0808087c;
    display: block;
    margin: 35% 0;
  }

  .hamburger {
    width: 1.3rem;
    height: 0.15rem;
    background-color: #b2ebf27e;
  }

  .nav_items {
    position: relative;
    display: none;
  }

  .mobile_nav {
    text-align: center;
    margin-top: 10%;
  }
  .mobile_nav_items {
    list-style-type: none;
    padding: 0;
    margin: auto;
  }

  .mobile_items {
    font-size: 3rem;
    padding: 20% 0;
  }

  /* ********************************** Header Styles ************************************************************ */
  .project_name {
    padding: 7% 0 3% 0;
    color: #ffffff;
  }

  .project_duration {
    padding-bottom: 7%;
    color: #ffffffbd;
  }

  .title_image {
    background: url(../../images/1920/2.png);
    width: 100%;
    min-height: 40vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* *******************Description Styles project explainations***************************** */

  .desc_container {
    margin: auto;
    width: 80%;
    height: fit-content;
  }

  .desc_title {
    color: #080808f6;
    padding-top: 10%;
  }

  .desc {
    display: block;
    padding: 2% 0 0 0;
    color: #080808b6;
  }

  .user_pic {
    width: 100%;
    margin: 10% 0;
  }

  /* ***********************INDEX ICONS PROJECT HIGHLIGHTS******************************* */

  .index_container {
    width: 100%;
    height: unset;
    margin: 5% 40% 0 0;
    padding: 0;
    color: #080808b6;
    background-color: #0055ffbe;
  }

  .index {
    width: 80%;
    height: 9rem;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .index_card {
    width: 100%;
    height: 38%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .index_card_text {
    margin: 0;
    text-align: center;
    width: fit-content;
    color: #ffffff8c;
  }

  .index_picture {
    margin-bottom: 1.1rem;
    width: unset;
    height: 50%;
  }

  /* *******************problems card system*************************************** */

  .cards_container {
    margin: 5% 0 10% 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 11rem;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .prob_card { 
    margin: 2%;
    width: 40%;
    height: 5rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.01),
      0 15px 40px rgba(166, 173, 201, 0.15);
    display: flex;
    flex-flow: row;
    justify-content: unset;
  }

  .prob_card_text {
    margin: 5% 5% 5% 10%;
  }

  .prob_card_image {
    margin: 3% 5% 3% 5%;
    align-self: center;
    width: 17%;
  }

  /* *******************Picture Styles*************************************** */
  #prob_pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4%;
    width: 100%;
    align-items: flex-start;
  }

  .prob_pics_styles {
    width: 40%;
    margin-top: 3%;
  }

  .user_pic {
    display: none;
  }

  .user_pic_mobile {
    margin: 10% auto;
    display: block;
    width: 80%;
  }
}
