/* css rules
selectors ==== for example H1{}
decleration block ==== {} 
declaration
property: value;

GENRAL RULES
ID === #id_name (unique)

Class === .class_name (can be resused)

DIV ==== div, not inline, block level elment (groups elements under the tag)

SPAN ==== span, inline element (groups elements under the tag)

INHERITANCE the parent style will be inherited by the children element, will work until the child element doesn't have a style

LAST RULE AND SPECIFICITY applies the last style and ignores the first one

Universal selector ===== * (least amoint specificity)

Relative percentages depend on the parent element  

em values = relative and depends on the parent 

1em = 16px (default browser styles)

rem = relative depends on root (html{value = root size}
1 rem = 16px

vh = height = percentage of the screen

vw = width = percentage of the screen

typograpgy - line-height, letter-spacing, text-transform, word-spacing, text-decoration

Colours 
#ff0047
#ff4674
*/
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fdfdfe;
}

@font-face {
  font-family: "avenir-roman";
  src: url(/Fonts/Avenir/Avenir-Roman.ttf);
}

@font-face {
  font-family: "avenir-book";
  src: url(/Fonts/Avenir/Avenir-Book.ttf);
}

@font-face {
  font-family: "avenir-medium";
  src: url(/Fonts/Avenir/Avenir-Medium.ttf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(/Fonts/Avenir/Avenir-Heavy.ttf);
}

@font-face {
  font-family: "avenir-black";
  src: url(/Fonts/Avenir/Avenir-Black.ttf);
}

.header {
  font-family: "avenir-bold", "Open Sans", Helvetica, Arial, sans-serif;
  width: 80%;
  margin: 7% auto 0 auto;
  /* position: fixed; */
}

#nav_container {
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: calc(1.1em + 1vw);
  float: left;
  color: #080808f6;
}

.top {
  text-decoration: none;
  color: #0808087c;
}

.nav {
  font-size: calc(1em + 0.5vw);
  display: flex;
  float: right;
  margin-top: 1%;
  width: 30%;
  justify-content: space-between;
}

.background {
  display: block;
  clear: both;
  width: 100%;
}

#intro_text1 {
  color: #ff2d55;
  clear: both;
  display: block;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: calc(0.7em + 1vw);
  /* position: absolute; */
}

#intro_text2 {
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  padding-right: 71%;
  line-height: 1.6em;
  margin-top: 10%;
  font-size: calc(0.3em + 1vw);
  color: #080808f6;
  clear: both;
}

.project1 {
  margin-top: 10vh;
  display: block;
  width: 100%;
  height: 100vh;
}

#image1 {
  float: left;
  width: 60%;
  height: 100vh;
  background: url("images/1920/2.png");
  background-size: cover;
  background-position: 51% 0px;
  background-repeat: no-repeat;
}

#container1 {
  float: right;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text1 {
  font-family: "avenir-heavy", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  font-size: calc(0.7em + 1vw);
  padding: 0px 25% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc1 {
  text-align: left;
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  padding: 10% 25% 0px;
  font-size: calc(0.2em + 1vw);
  color: #727272;
}

#button1 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 12%;
  margin: 10% 25%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.03em + 1vw);
}

#button1_text {
  margin: 34% auto;
}

.project2 {
  display: block;
  width: 100%;
  height: 100vh;
}

#image2 {
  float: right;
  width: 40%;
  height: 100vh;
  background: url("images/Iphone Mockup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -13.8vw 0px;
}

#container2 {
  float: left;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text2 {
  font-family: "avenir-heavy", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  font-size: calc(0.7em + 1vw);
  padding: 0px 17% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc2 {
  text-align: left;
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: calc(0.2em + 1vw);
  line-height: 1.6em;
  padding: 6% 38% 0px 17%;
  font-size: 1.3vw;
  color: #727272;
}

#button2 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  width: 8%;
  margin: 6.4% 17.2%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.03em + 1vw);
}

#button2_text {
  margin: 34% auto;
}

.project3 {
  display: block;
  width: 100%;
  height: 100vh;
}

#image3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  float: left;
  width: 60%;
  height: 100vh;
  background: url("images/1920/chiral2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -14.3vw;
}

#container3 {
  float: right;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text3 {
  font-family: "avenir-heavy", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  font-size: calc(0.7em + 1vw);
  padding: 0px 25% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc3 {
  text-align: left;
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  padding: 10% 25% 0px;
  font-size: calc(0.3em + 1vw);
  color: #727272;
}

#button3 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 12%;
  margin: 10% 25%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.03em + 1vw);
}

#button3_text {
  margin: 34% auto;
}

.project4 {
  display: block;
  width: 100%;
  height: 100vh;
}

#image4 {
  flex-direction: row-reverse;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
  width: 40%;
  height: 100vh;
  background: url("images/iPhone\ X_MockUp2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -14.3vw;
}

#container4 {
  float: left;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text4 {
  font-family: "avenir-heavy", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  font-size: calc(0.7em + 1vw);
  padding: 0px 17% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc4 {
  text-align: left;
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  padding: 6% 38% 0px 17%;
  font-size: calc(0.3em + 1vw);
  color: #727272;
}

#button4 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  width: 8%;
  margin: 6.4% 17.2%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.03em + 1vw);
}

#button4_text {
  margin: 24% auto;
}

.project5 {
  display: block;
  width: 100%;
  height: 100vh;
}

#image5 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  float: left;
  width: 60%;
  height: 100vh;
  background: url("images/1920/Web4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -14.3vw;
}

#container5 {
  float: right;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text5 {
  font-family: "avenir-heavy", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  font-size: calc(0.7em + 1vw);
  padding: 0px 25% 0px;
  color: rgba(0, 0, 0, 0.863);
}

#desc5 {
  text-align: left;
  font-family: "avenir-roman", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  padding: 10% 25% 0px;
  font-size: calc(0.3em + 1vw);
  color: #727272;
}

#button5 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 12%;
  margin: 10% 25%;
  color: #ff2d55;
  font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.03em + 1vw);
}

#button5_text {
  margin: 34% auto;
}

@media only screen and (max-width: 965px) {
  @font-face {
    font-family: "avenir-book";
    src: url(/Fonts/avenir/avenir-book.otf);
  }

  @font-face {
    font-family: "avenir-medium";
    src: url(/Fonts/avenir/avenir-medium.otf);
  }

  @font-face {
    font-family: "avenir-bold";
    src: url(/Fonts/avenir/avenir-bold.otf);
  }

  @font-face {
    font-family: "avenir-black";
    src: url(/Fonts/avenir/avenir-black.otf);
  }

  .header {
    font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
    width: 80%;
    margin: 7% auto 0 auto;
    /* position: fixed; */
  }

  #nav_container {
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-size: calc(1em + 1vw);
    float: left;
    color: #080808f6;
  }

  .top {
    text-decoration: none;
    color: #0808087c;
  }

  .nav {
    font-size: calc(0.9em + 0.5vw);
    display: none;
    float: right;
    margin-top: 1%;
    width: 30%;
    justify-content: space-between;
  }

  .background {
    display: block;
    clear: both;
    width: 100%;
  }

  #intro_text1 {
    color: #ff2d55;
    clear: both;
    display: block;
    font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
    font-size: calc(0.6em + 1vw);
    /* position: absolute; */
  }

  #intro_text2 {
    font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
    padding-right: 45%;
    line-height: 1.7em;
    margin-top: 10%;
    font-size: calc(0.46em + 1vw);
    color: #080808f6;
    clear: both;
  }
  #image1 {
    width: 100%;
    height: 70vh;
    background: url("images/Mobile/Behance.png");
    background-size: cover;
    background-position: 51% 0px;
    background-repeat: no-repeat;
    display: block;
  }

  #container1 {
    width: 100%;
    height: 50%;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12%;
  }

  #text1 {
    font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.2em;
    font-size: calc(1.1em + 1vw);
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  #desc1 {
    text-align: left;
    font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    padding: 10% 16% 0px 10%;
    font-size: calc(0.46em + 1vw);
    color: #727272;
  }

  #button1 {
    text-align: center;
    border-style: solid;
    border-width: medium;
    /* background-color: darkblue; */
    width: 10%;
    margin: 10% 10.2%;
    color: #ff2d55;
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    /* padding-right: 15%; */
    font-size: calc(0.2em + 1vw);
  }

  #button1_text {
    margin: 37% auto;
  }
  .project2 {
    display: block;
    width: 100%;
    height: 100vh;
  }

  #image2 {
    float: right;
    width: 100%;
    height: 100vh;
    background: url("images/Iphone Mockup.jpg");
    /* margin-top: 13%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 0px;
  }

  #container2 {
    width: 100%;
    height: 50%;
    padding-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12%;
  }

  #text2 {
    font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 5vw;
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  #desc2 {
    text-align: left;
    font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.7em;
    padding: 10% 16% 0px 10%;
    font-size: calc(0.46em + 1vw);
    color: #727272;
  }

  #button2 {
    text-align: center;
    border-style: solid;
    border-width: medium;
    /* background-color: darkblue; */
    width: 10%;
    margin: 10% 10.2%;
    color: #ff2d55;
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    /* padding-right: 15%; */
    font-size: calc(0.2em + 1vw);
  }

  #button2_text {
    margin: 37% auto;
  }

  .project3 {
    display: block;
    width: 100%;
    height: 100vh;
  }

  #image3 {
    float: right;
    width: 100%;
    height: 100vh;
    background: url("images/1920/chiral2.png");
    /* margin-top: 13%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 53% 0px;
  }

  #container3 {
    width: 100%;
    height: 50%;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12%;
  }

  #text3 {
    font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 5vw;
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  #desc3 {
    text-align: left;
    font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.7em;
    padding: 10% 16% 0px 10%;
    font-size: calc(0.46em + 1vw);
    color: #727272;
  }

  #button3 {
    text-align: center;
    border-style: solid;
    border-width: medium;
    /* background-color: darkblue; */
    width: 10%;
    margin: 10% 10.2%;
    color: #ff2d55;
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    /* padding-right: 15%; */
    font-size: calc(0.2em + 1vw);
  }

  #button3_text {
    margin: 37% auto;
  }

  .project4 {
    display: block;
    width: 100%;
    height: 100vh;
  }

  #image4 {
    float: right;
    width: 100%;
    height: 100vh;
    background: url("images/iPhone\ X_MockUp2.png");
    /* margin-top: 13%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 0px;
  }

  #container4 {
    width: 100%;
    height: 50%;
    padding-top: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12%;
  }

  #text4 {
    font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 5vw;
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  #desc4 {
    text-align: left;
    font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.7em;
    padding: 10% 16% 0px 10%;
    font-size: calc(0.46em + 1vw);
    color: #727272;
  }

  #button4 {
    text-align: center;
    border-style: solid;
    border-width: medium;
    /* background-color: darkblue; */
    width: 10%;
    margin: 10% 10.2%;
    color: #ff2d55;
    font-family: "avenir-medium", "Open Sans", Helvetica, Arial, sans-serif;
    /* padding-right: 15%; */
    font-size: calc(0.2em + 1vw);
  }

  #button4_text {
    margin: 37% auto;
  }

  .project5 {
    display: block;
    width: 100%;
    height: 100vh;
  }

  #image5 {
    float: right;
    width: 100%;
    height: 100vh;
    background: url("images/1920/Web4.png");
    /* margin-top: 13%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0px;
  }

  #container5 {
    width: 100%;
    height: 50%;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12%;
  }

  #text5 {
    font-family: "avenir-medium" "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 5vw;
    padding: 0px 10% 0px;
    color: rgba(0, 0, 0, 0.863);
  }

  #desc5 {
    text-align: left;
    font-family: "avenir-book" "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.7em;
    padding: 10% 16% 0px 10%;
    font-size: calc(0.46em + 1vw);
    color: #727272;
  }

  #button5 {
  text-align: center;
  border-style: solid;
  border-width: medium;
  /* background-color: darkblue; */
  width: 10%;
  margin: 10% 10.2%;
  color: #ff2d55;
  font-family:  'avenir-medium', 'Open Sans', Helvetica, Arial, sans-serif;
  /* padding-right: 15%; */
  font-size: calc(0.2em + 1vw);
}

#button5_text{
  margin: 37% auto;
}
}
