body {
  width: 100%;
  height: 100vh;
  padding-top: 1px;
  box-sizing: border-box;
  margin: -1px 0px 0px;
  background: #fdfdfe;
}


@font-face {
  font-family: "avenir-roman";
  src: url(/Fonts/Avenir/Avenir-Roman.ttf);
}

@font-face {
  font-family: "avenir-book";
  src: url(/Fonts/Avenir/Avenir-Book.ttf);
}

@font-face {
  font-family: "avenir-medium";
  src: url(/Fonts/Avenir/Avenir-Medium.ttf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(/Fonts/Avenir/Avenir-Heavy.ttf);
}

@font-face {
  font-family: "avenir-black";
  src: url(/Fonts/Avenir/Avenir-Black.ttf);
}


strong {
  font-weight: 500;
}

p {
  display: block;
  margin: 0;
}

button {
  display: unset;
  font: unset;
  background: #ffffff;
  outline: none;
}

.bold {
  font-family: "avenir-bold", sans-serif;
  font-size: calc(0.7rem + 1vw);
}

.caption {
  font-family: "avenir-book", sans-serif;
  line-height: 1;
  font-size: calc(0.5rem + 1vw);
}

.caption2 {
  font-family: "avenir-book", sans-serif;
  line-height: 1.4;
  font-size: calc(0.3rem + 1vw);
}

.body {
  font-family: "avenir-roman", sans-serif;
  font-size: calc(0.5rem + 1vw);
}

.card {
  position: relative;
  box-shadow: 2px 2px 24px -10px rgba(24, 50, 119, 0.3);
  background: #fdfdfe;
  color: #497081;
  margin: 5rem auto;
  border-radius: 0.6rem;
  overflow: hidden;
  max-width: 80%;
  height: 18rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  position: relative;
  height: 70%;
  width: 100%;
  background: #75c1e8;
}

.cloud-1,
.cloud-2,
.cloud-3 {
  position: absolute;
  fill: #fffafa;
}

.cloud-1 {
  width: 40%;
  top: 7rem;
  right: 1rem;
  animation-name: cloud-1;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloud-2 {
  width: 20%;
  top: 5rem;
  right: 10rem;
  animation-name: cloud-2;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloud-3 {
  width: 15%;
  top: 2rem;
  right: 4rem;
  animation-name: cloud-3;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.info {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.temp {
  font-size: calc(2rem + 1vw);
}

.loc {
  margin-left: 0.5rem;
  align-self: flex-end;
}

.right {
  margin-right: 1.5rem;
}

.wind {
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}

@keyframes cloud-1 {
  from {
    transform: translateX(113%);
  }

  to {
    transform: translateX(-238%);
  }
}

@keyframes cloud-2 {
  from {
    transform: translateX(365%);
  }

  to {
    transform: translateX(-234%);
  }
}

@keyframes cloud-3 {
  from {
    transform: translateX(239%);
  }

  to {
    transform: translateX(-525%);
  }
}


@media only screen and (max-width: 576px) {


  .bold {
    font-family: "avenir-bold", sans-serif;
    font-size: calc(0.3rem + 1vw);
  }

  .caption {
    font-family: "avenir-book", sans-serif;
    line-height: 1;
    font-size: calc(0.3rem + 1vw);
  }

  .caption2 {
    font-family: "avenir-book", sans-serif;
    line-height: 1.4;
    font-size: calc(0.2rem + 1vw);
  }

  .body {
    font-family: "avenir-roman", sans-serif;
    font-size: calc(0.3rem + 1vw);
  }


  .card {
    max-width: 80%;
    height: 10rem;
    margin: 2.5rem auto;
    display: flex;
    flex-flow: row;
  }

  .sun {
    height: 2.5rem;
    width: 2.5rem;
  }


  .cloud-1 {
    width: 80%;
    top: 7rem;
    right: 1rem;
    animation-name: cloud-1;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .cloud-2 {
    width: 60%;
    top: 5rem;
    right: 10rem;
    animation-name: cloud-2;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .cloud-3 {
    width: 55%;
    top: 2rem;
    right: 4rem;
    animation-name: cloud-3;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }


  .image {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #75c1e8;
  }


  .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 0;
  }

  .temp {
    font-size: calc(2rem + 1vw);
  }

  .loc {
    margin-left: 0;
    align-self: flex-start;
  }

  .right {
    margin-right: 0;
  }

  .wind {
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
  }
}